<!-- /snippets/mobile-menu.liquid -->
{% comment %}

  This snippet generates the menu for the site depending on what section you're on
{% endcomment %}

{% assign blog_handle = blog.handle %}
{% assign blog_handle_color = blog.handle | append: '-color' %}
	
	<nav class="mobile-nav-header" data-module-init="mobile-nav">
		<button class="hamburger"><span class="bars"><span></span><span></span><span></span></span><span class="close"><span></span><span></span></span></button>
		<a href="{{ shop.url }}" class="gc-logo">{{ 'logo_large.svg' | asset_url | img_tag }}</a>
		<a href="/cart" class="cart-count-holder site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false" data-module-init="cart-count">(<span class="cart-count">{{ cart.item_count }}</span>)</a>
	</nav>
	
	<nav class="mobile-nav-drawer"  style="background-color:{{ settings[blog_handle_color] }}">
	
	
	{% comment %}
		Get the collections menu
	{% endcomment %}
	
	<ul id="mobile-collections-menu" class="right-menu">
	{% for link in linklists.collections-menu.links %}
		  
  	  	{% assign b = link.object %}
	
  		{% assign left_video_blog = b.handle | append: '-left-video' %}
  		{% assign right_video_blog = b.handle | append: '-right-video' %}
		{% assign background_color = b.handle | append: '-color' %}
		
		{% assign current_url = '' %}

		{% case template %}
		{% when 'page' %}
		{% assign current_url = page.url %}
		
		{% when 'blog' %}
		{% assign current_url = blog.url %}
		{% when 'article' %}
		{% assign current_url = blog.url %}
		{% when 'collection' %}
		{% assign current_url = collection.url %}
		{% when 'product' %}
		{% assign current_url = product.url %}
		{% endcase %}
	
	      <li><a id="mobile-collection-link-{{link.handle}}" class="{{ current_url }} collections-link {% if current_url == link.url %}selected{% endif %}" data-module-init="swap-title" href="{{ link.url }}" data-blog-handle="{{ b.handle }}" data-bgcolor="{{ settings[background_color] }}"  data-left-video="{{ settings[left_video_blog] }}" data-right-video="{{ settings[right_video_blog] }}">{{ link.title }} {{link.id}}</a></li>
	{% endfor %}
	</ul>
	
	{% comment %}
		Get the main menu
	{% endcomment %}
	<ul id="mobile-main-menu" class="left-menu">
		
		<li><a data-module-init="shop-link" href="/collections/all">Shop</a></li>
		<li><a href="/pages/about-us">Info</a></li>
		<li><a href="/pages/about-us">Contact</a></li>
		

	</ul>
	
	</nav>




