<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global



<section id="homepage-video" data-module-init="homepage-video">
	
	<div class="left-video video-holder">
		
	</div>
	
	<div class="right-video video-holder">
		
	</div>
	
	<div id="left-player" class="video-holder"></div>
	<div id="right-player" class="video-holder"></div>
	<!--
	<div class="videoWrapper">
	    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3ZtrS_D3HLY?rel=0&hd=1?autoplay=true" frameborder="0" allowfullscreen></iframe>
	</div>
	-->
</section> 

 

<section id="homepage-titles">
	<button class="about-link" data-module-init="about-link">{{ 'logo_large.svg' | asset_url | img_tag }}</button>
	
	<div class="titles">
		<button class="link-home">{{ 'title_ss16.svg' | asset_url | img_tag }}</button>
		<button class="link-home">{{ 'title_ss15.svg' | asset_url | img_tag }}</button>
		<button class="link-home">{{ 'title_aw16.svg' | asset_url | img_tag }}</button>
		<button class="link-home">{{ 'title_aw15.svg' | asset_url | img_tag }}</button>
		<button class="link-home">{{ 'title_ss17.svg' | asset_url | img_tag }}</button>
		<button class="link-home">{{ 'title_aw17.svg' | asset_url | img_tag }}</button>
		<!--
		<h1>Never Step Where you have Fallen<h1>
		<h1>Time to say Goodbye<h1>
		<h1>Going back to Long Island, Going back to Jersey, Going back to Perth<h1>
			-->
	</div>
		
</section>


{% endcomment %}


{% assign: blog = blogs.f-w-2017 %}
{% include 'blog-body' %}